body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 40px;
  transition: background-color 0.3s, color 0.3s;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

/* Thème sombre */
body.dark-theme {
  background-color: #121212;
  color: white;
}
